# NOTEBOOK SUMMARY

La siguiente libreta de código será usada para crear a partir del dataset original en crudo, el cual ha sido descargado del siguiente enlace: https://www.kaggle.com/datasets/jayaantanaath/student-habits-vs-academic-performance el archivo bronze. 
El dataset en estado bronze solo incorporará en este usecase un timestamp añadido en el momento en el que los datos fueron extraídos del dataset original en crudo.

In [1]:
# El dataset original ha sido descargado de la siguiente página https://www.kaggle.com/datasets/jayaantanaath/student-habits-vs-academic-performance

# IMPORTS

In [ ]:
# Importación de las librerías a usar durante el proyecto.

import os

import pandas as pd

from datetime import datetime as dt

# PARÁMETROS DE LAS RUTAS PARA EL ARCHIVO BRONZE

In [3]:
raw_data_path = os.path.join(os.curdir,"student_habits_performance (SUCIO).csv")

bronze_folder_path = os.path.join(os.curdir,"Bronze")

bronze_file_name = "student_habits_performance_bronze.parquet"

bronze_file_path = os.path.join(bronze_folder_path, bronze_file_name)

# PREPARACIÓN DEL ARCHIVO BRONCE

#### LECTURA DEL DATA SET DE ORIGEN EN CRUDO

In [4]:
# Lo primero que vamos a hacer es leer el archivo en crudo para poder preparar posteriormente el dataset nivel bronce añadiendo un timestamp.

student_habits_rawdatset_df = pd.read_csv(raw_data_path)


# Representamos las primeras 5 filas para ver el aspecto del dataset.

student_habits_rawdatset_df.head()


# Visualizamos la información del dataset proporcionada por el metodo info().

student_habits_rawdatset_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   student_id                     996 non-null    object
 1   age                            1000 non-null   int64
 2   gender                         996 non-null    object
 3   study_hours_per_day            998 non-null    float64
 4   social_media_hours             1000 non-null   float64
 5   netflix_hours                  999 non-null    float64
 6   part_time_job                  1000 non-null   object
 7   attendance_percentage          998 non-null    float64
 8   sleep_hours                    999 non-null    float64
 9   diet_quality                   998 non-null    object
 10  exercise_frequency             999 non-null    float64
 11  parental_education_level       907 non-null    object
 12  internet_quality               997 non-null    object
 13  mental_health_rating           1000 non-null   int64
 14  extracurricular_participation  999 non-null    object
 15  exam_score                     998 non-null    float64
dtypes: float64(7), int64(2), object(7)
memory usage: 125.1+ KB

### AÑADIR TIMESTAMP

In [5]:
# Se añade el timestamp al dataframe del rawdataset para dejar listo lo que será el bronze dataset. Además lo visualizamos para confirmar que ha sido creectamente añadido.

student_habits_rawdatset_df["BronzeTimestamp"] = dt.now()

student_habits_rawdatset_df.head()

,student_id,age,gender,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,diet_quality,exercise_frequency,parental_education_level,internet_quality,mental_health_rating,extracurricular_participation,exam_score,BronzeTimestamp
0,S1000,23,Female,0.0,1.2,1.1,No,85.0,8.0,Fair,6.0,Master,Average,8,Yes,56.2,2025-11-09 19:55:46.859869
1,S1001,20,Female,6.9,2.8,2.3,No,97.3,4.6,Good,6.0,High School,Average,8,No,100.0,2025-11-09 19:55:46.859869
2,S1002,21,Male,1.4,3.1,1.3,No,94.8,8.0,Poor,1.0,High School,Poor,1,No,34.3,2025-11-09 19:55:46.859869
3,S1003,23,Female,1.0,3.9,1.0,No,71.0,9.2,Poor,4.0,Master,Good,1,Yes,26.8,2025-11-09 19:55:46.859869
4,S1004,19,Female,5.0,4.4,0.5,No,90.9,4.9,Fair,3.0,Master,Good,1,No,66.4,2025-11-09 19:55:46.859869

# GUARDAR ARCHIVO BRONZE DATASET

In [6]:
# Creamos el directorio del archivo bronze en caso de que no existiese.

os.makedirs(bronze_folder_path, exist_ok=True)

# Guardamos el dataset en un archivo .parquet

student_habits_rawdatset_df.to_parquet(bronze_file_path, index=False)